*.o
*.out
.deps
blockcat61
blockread61
blockwrite61
blockwriteat61
carefulblockcat61
carefulcat61
cat61
files
gather61
ostridecat61
pipeexchange61
pset.tgz
randblockcat61
read61
reordercat61
reverse61
scatter61
scattergather61
slow-blockcat61
slow-blockread61
slow-blockwrite61
slow-blockwriteat61
slow-carefulblockcat61
slow-carefulcat61
slow-cat61
slow-ostridecat61
slow-pipeexchange61
slow-randblockcat61
slow-read61
slow-reordercat61
slow-reverse61
slow-scattergather61
slow-stridecat61
slow-write61
slow-writeat61
slow-wstridecat61
socketpipe
stdio-blockcat61
stdio-blockread61
stdio-blockwrite61
stdio-blockwriteat61
stdio-carefulblockcat61
stdio-carefulcat61
stdio-cat61
stdio-gather61
stdio-ostridecat61
stdio-pipeexchange61
stdio-randblockcat61
stdio-read61
stdio-reordercat61
stdio-reverse61
stdio-scatter61
stdio-scattergather61
stdio-stridecat61
stdio-write61
stdio-writeat61
stdio-wreverse61
stdio-wstridecat61
strace.out*
stridecat61
syscall-blockcat61
syscall-carefulblockcat61
wreverse61
write61
writeat61
wstridecat61
